<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.codepressoblog.mapper.PostMapper">
    <select id="fineAll" resultType="com.codepresso.codepressoblog.vo.Post">
        SELECT *
        FROM post
        ORDER BY id DESC  <!-- 최신 블로그 글 부터 보기 위해 내림차순 -->
    </select>
<!--    findByPage 해당되는 쿼리문 추가하기-->
    <select id ="findByPage" resultType="com.codepresso.codepressoblog.vo.Post">
        SELECT *
        FROM post
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset} <!-- offset : 어디서부터 조회, limt : 최대 몇개 조회할지 -->
    </select>
    <!-- 게시글 상세보기를 위한 쿼리문 추가하기 -->
    <select id="findOne" resultType="com.codepresso.codepressoblog.vo.Post">
        SELECT *
        FROM post
        WHERE id=#{id}; <!-- id가 url 파라미터로 들어온 id값과 같다면 조회-->
    </select>
    <!-- 게시글 저장을 위한 insert문 추가 -->
    <insert id="save">
        INSERT INTO post(title, content, username) <!-- 3개의 데이터를 저장함 (id와 creatAt은 자동 생성됨)  -->
        VALUES (#{post.title}, #{post.content}, #{post.username});
    </insert>


</mapper>

